.tippy-box[data-theme~='white'] {
  align-items: center;

  width: max-content;

  border-radius: 8px;

  background-color: $color-default-white;

  font-weight: 400;
  font-size: 14px;
  line-height: 171%;

  color: $color-ebony;
  box-shadow: 0 14px 64px -4px rgba(24, 39, 75, 0.06), 0 8px 22px -6px rgba(24, 39, 75, 0.06);

  a {
    display: block;
    margin-right: 8px;
    color: inherit;
  }

  .tippy-content {
    display: flex;
    align-items: center;

    padding: 8px 16px;
  }
}

.tippy-box[data-theme~='white'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: $color-default-white;
}
.tippy-box[data-theme~='white'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: $color-default-white;
}
.tippy-box[data-theme~='white'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: $color-default-white;
}
.tippy-box[data-theme~='white'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: $color-default-white;
}
