<header class="header bg-white @@if (context.mod) { header--@@mod }">
  <div class="container flex flex-wrap">
    @@if (!context.index) {
      <a class="header__logo" href="index.html" aria-label="Переход на главную">
        <div class="w-8 h-8 rounded overflow-hidden">
          <img src="./img/logo/logo.jpg" alt="Фотография" srcset="./img/logo/logo@2x.jpg 2x"/>
        </div>
      </a>
    }
    @@if (context.index) {
      <div class="header__logo flex">
        <div class="w-8 h-8 rounded-full overflow-hidden">
          <img class="w-full h-full object-cover" src="./img/logo/logo.jpg" alt="Фотография" srcset="./img/logo/logo@2x.jpg 2x" width="32" height="32"/>
        </div>
        <span>Степанова Мария</span>
        <span class="block w-5 h-6">
<!--          <svg class="w-full h-full" width="22" height="24" aria-hidden="true">-->
<!--            <use xlink:href="#icon-hand"></use>-->
<!--          </svg>-->
        </span>
      </div>
    }
    <a href="#" class="block bg-ebony py-1 px-3 text-base text-white rounded-lg">Резюме лежит здесь</a>
  </div>
</header>
